<div class="p-5">
  {{#each suggestions}}
    <div class="suggestion">
      <div class="content {{#compare this.type "lost" operator="==="}}lost{{/compare}} {{#compare this.type "found" operator="==="}}found{{/compare}}">
        <div class="name">
          {{this.name}}
        </div>
        <div class="dates">
          <span>
            Date Added:
            {{this.createdAt}}
          </span>
          <span>
            |
          </span>
          <span>
            {{#compare this.type "lost" operator="==="}}
              Date Lost:
            {{/compare}}
            {{#compare this.type "found" operator="==="}}
              Date Found:
            {{/compare}}
            {{this.dateLostOrFound}}
          </span>
        </div>
        <div class="description">
          {{this.description}}
        </div>
         <div
              class="itemDisplayPicture-sm my-3"
              style="background-image:url(http://localhost:3000/{{
                this.picture
              }})"
            >
            </div>
      </div>
      <div class="action">
        <div class="author">
          {{this.userInfo.firstName}}
          {{this.userInfo.lastName}}
        </div>
        {{#compare this.type "lost" operator="==="}}
          <div class="location">
            Lost at:
            <span class="fw-bold">
              {{this.lostOrFoundLocation}}
            </span>
          </div>
          <button
            id="modal-btn"
            class="claim-button btn btn-success w-50 my-3"
            data-id="{{this._id}}"
          >
            Found
          </button>
        {{/compare}}
        {{#compare this.type "found" operator="==="}}
          <div class="location">
            Found at:
            <span class="fw-bold">
              {{this.lostOrFoundLocation}}
            </span>
          </div>
          <button
            id="modal-btn"
            class="claim-button btn btn-warning w-50 my-3"
            data-id="{{this._id}}"
          >
            Claim
          </button>
        {{/compare}}

        <a href="/items/{{this._id}}" class="btn-link">
          See Details
        </a>
      </div>
    </div>
  {{/each}}
</div>
<link rel="stylesheet" href="/public/css/item/suggestions-styles.css" />
<script src="/public/js/item/suggestions.js" type="module"></script>