<div class="suggestions-wrapper">
  {{#each suggestions}}
    <div class="suggestion">
      <div class="content">
        <div class="name">
          {{this.name}}
        </div>
        <div class="dates">
          <span>
            Date Added: {{this.createdAt}}
          </span>
          <span>
            |
          </span>
          <span>
            {{#compare this.type "lost" operator="==="}}
              Date Lost:
            {{/compare}}
            {{#compare this.type "found" operator="==="}}
              Date Found:
            {{/compare}}
            {{this.dateLostOrFound}}
          </span>
        </div>
        <div class="description">
          {{this.description}}
        </div>
      </div>
      <div class="action">
        <div class="author">
          {{this.createdBy}}
        </div>
        <div class="location">
          {{#compare this.type "lost" operator="==="}}
            Lost at:
          {{/compare}}
          {{#compare this.type "found" operator="==="}}
            Found at:
          {{/compare}}
          {{this.lostOrFoundLocation}}
        </div>
        <button type="button" data-id="{{this._id}}" class="claim-btn">
          Claim
        </button>
        <a href="/items/{{this._id}}">
          See Details
        </a>
      </div>
    </div>
  {{/each}}
</div>
<link rel="stylesheet" href="/public/css/item/suggestions-styles.css" />
<script src="/public/js/item/item/suggestions.js" type="module"></script>