{{! TODO Add More Details to the outer Modals }}
{{! TODO Add User Details to the inner Modals }}
<div class="row no-gutters"></div>
<div class="col-md-6 no-gutters">
  <div class="leftside d-flex justify-content-center align-items-center">
    <div class="lost">
    <div class="sort-by">
      <input id="rd11" type="radio" name="option1" value="createdAt" checked="checked">Date Added</input>
      <input id="rd21" type="radio" name="option1" value="dateLostOrFound">Date Lost/Found</input>
    </div>
  {{#if data1.length}}
  {{#each data1}}
        <div class="container">
          <div class="card-content">
            <div class="card">
              <div class="card-image"><img src="{{picture}}" alt=""></div> 
              <div class="card-info">
                <h3>Name : {{name}}</h3>
                {{!-- <p>Type : {{type}}</p> --}}
                <p>Description : {{description}}</p>
                <p>Date : {{dateLostOrFound}}</p>
                <p>Created at : {{createdAt}}</p>
                <p>Location : {{lostOrFoundLocation}}</p>
                {{!-- <p>Comments : {{comments}}</p> --}}
              </div> 
            </div>
          </div>
        </div>
  </div>
  {{/each}}
  {{/if}}
    <div class = "pagination1">
    <li class = "page-item previous-page"><button class="previous1">Previous</button></li>
    <li class = "page-item current-page" id="page1">{{page1}}</li>
    <li class = "page-item next-page"><button class="next1">Next</button></li>
  </div>
</div>
</div>

<div class="col-md-6 no-gutters">
  <div class="leftside d-flex justify-content-center align-items-center">
    <div class="found">
          <div class="sort-by">
            <input id="rd12" type="radio" name="option2" value="createdAt" checked="checked">Date Added</input>
            <input id="rd22" type="radio" name="option2" value="dateLostOrFound">Date Lost/Found</input>
          </div>
  {{#if data2.length}}
  {{#each data2}}
        <div class="container">
          <div class="card-content">
            <div class="card">
              <div class="card-image"><img src="{{picture}}" alt=""></div> 
              <div class="card-info">
                <h3>Name : {{name}}</h3>
                {{!-- <p>Type : {{type}}</p> --}}
                <p>Description : {{description}}</p>
                <p>Date : {{dateLostOrFound}}</p>
                <p>Created at : {{createdAt}}</p>
                <p>Location : {{lostOrFoundLocation}}</p>
                {{!-- <p>Comments : {{comments}}</p> --}}
              </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
    <div class = "pagination2">
    <li class = "page-item previous-page"><button class="previous2" onclick="previousfunc2"></button>>Previous</button></li>
    <li class = "page-item current-page" id="page2">{{page2}}</li>
    <li class = "page-item next-page"><button class="next2" onclick="nextfunc2"></button>>Next</button></li>
  </div>
  </div>
</div>

</div>
<script src="/public/js/listing/listings.js" type="module"></script>
<link rel="stylesheet" href="/public/css/modal-styles.css" />
<link rel="stylesheet" href="/public/css/listing/paginating.css" />
