<div class="mt-4 mb-5 mx-3">
  <div class="px-5 pb-3">

    <div class="search-form">
    <input id="search-form-input" type="text" placeholder="Search for items...">
    <button id="search-form-button">Search</button>
    </div>

    <h3>
      Lost Items: Displaying
      {{query.size}}
      of
      {{count}}
      items
    </h3>
    <div class="py-2 d-flex">
      SORT BY:

      {{#compare query.sortBy "dateAdded" operator="==="}}
        <span class="sort-item active" data-type="lost" data-field="dateAdded">
          Date Added
          {{#compare query.sortOrder "1" operator="=="}}
            <span class="asc">
              ↑
            </span>
          {{/compare}}
          {{#compare query.sortOrder "-1" operator="=="}}
            <span class="desc">
              ↓
            </span>
          {{/compare}}
        </span>
        <span class="sort-item">
          Lost Date
        </span>
      {{/compare}}

      {{#compare query.sortBy "lostDate" operator="==="}}
        <span class="sort-item">
          Date Added
        </span>
        <span
          class="sort-item active"
          data-type="lost"
          data-field="lostDate"
          data-val=""
        >
          Lost Date
          {{#compare query.sortOrder "1" operator="=="}}
            <span class="asc">
              ↑
            </span>
          {{/compare}}
          {{#compare query.sortOrder "-1" operator="=="}}
            <span class="desc">
              ↓
            </span>
          {{/compare}}
        </span>
      {{/compare}}
    </div>

    {{#if items.length}}
      {{#each items}}
        <div class="suggestion">
          <div class="content">
            <div class="name">
              {{this.name}}
            </div>
            <div class="dates">
              <span>
                Date Added:
                {{this.createdAt}}
              </span>
              <span>
                |
              </span>
              <span>
                {{#compare this.type "lost" operator="==="}}
                  Date Lost:
                {{/compare}}
                {{#compare this.type "found" operator="==="}}
                  Date Found:
                {{/compare}}
                {{this.dateLostOrFound}}
              </span>
            </div>
            <div class="description">
              {{this.description}}
            </div>
          </div>
          <div class="action">
            <div class="author">
              {{this.userInfo.firstName}}
              {{this.userInfo.lastName}}
            </div>
            <div class="location">
              {{#compare this.type "lost" operator="==="}}
                Lost at:
              {{/compare}}
              {{#compare this.type "found" operator="==="}}
                Found at:
              {{/compare}}
              {{this.lostOrFoundLocation}}
            </div>

{{!--  Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content --}}
{{#compare this.type "found" operator="==="}}

          <button id="modal-btn" class="button claim-button" data-id="{{this._id}}">Claim</button>
          <div id="modal" class="modal">
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>{{this.name}}</h2>
              </div>
              <div class="modal-body">
                <p>Are you sure this item is yours and you want to claim it?</p>
    
                {{!-- <button id="confirm-yes-btn" data-id="{{this._id}}" data-user="{{this.createdBy}}" class="button">Yes</button> --}}
                <button id="confirm-yes-btn" data-user="{{this.createdBy}}" class="button">Yes</button>
                <button id="confirm-no-btn" class="button">No</button>

          <p>Once you click 'Yes', the user who created this listing will be notified via email.</p>

          </div>
          <div class="modal-footer">
            <h3>Found Item</h3>
          </div>
        </div>
      </div>
  
          <div id="modal-inner" class="modal">
            <div class="modal-content">
    
              <!-- Success Tic Modal -->

              <div id="success_tic" class="modal-fade success-tic" role="dialog">

               <!-- Modal content-->
              <div class="modal-content">
              <div class="page-body">
              <div class="head">  
              <h3 style="margin-top:5px;">The user has been notified!</h3>
              </div>
              <div class="head">  
                <h5 style="margin-top:5px;">You will shortly receive an email with additional details of the user who posted this listing.</h5>
                </div>
              <h1 style="text-align:center;"><div class="checkmark-circle">
              <div class="background"></div>
              <div class="checkmark draw"></div>
              </div>
              </div>
              </div>
              </div>
              </div>

              <!-- Success Tic Modal -->

        </div>
      </div>
{{/compare}}
{{!--  Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content --}}

{{!--  Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content --}}
{{#compare this.type "lost" operator="==="}}
          <button id="modal-btn" class="button claim-button" data-id="{{this._id}}">Found</button>
          <div id="modal" class="modal">
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>{{this.name}}</h2>
              </div>
              <div class="modal-body">
                <p>Are you sure you have found this item?</p>
    
                {{!-- <button id="confirm-yes-btn" data-id="{{this._id}}" data-user="{{this.createdBy}}" class="button">Yes</button> --}}
                <button id="confirm-yes-btn" data-user="{{this.createdBy}}" class="button">Yes</button>

                <button id="confirm-no-btn" class="button">No</button>

          <p>Once you click 'Yes', the user who created this listing will be notified via email.</p>

          </div>
          <div class="modal-footer">
            <h3>Found Item</h3>
          </div>
        </div>
      </div>
  
          <div id="modal-inner" class="modal">
            <div class="modal-content">


              <!-- Success Tic Modal -->

              <div id="success_tic" class="modal-fade success-tic" role="dialog">
               <!-- Modal content-->
              <div class="modal-content">
              <div class="page-body">
              <div class="head">  
              <h3 style="margin-top:5px;">The user has been notified!</h3>
              </div>
              <div class="head">  
                <h5 style="margin-top:5px;">You will shortly receive an email with additional details of the user who posted this listing.</h5>
                </div>
              <h1 style="text-align:center;"><div class="checkmark-circle">
              <div class="background"></div>
              <div class="checkmark draw"></div>
              </div>
              </div>
              </div>
              </div>
              </div>

        </div>
      </div>
{{!--  Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content Modal Content --}}
{{/compare}}


            <a href="/items/{{this._id}}">
              See Details
            </a>
          </div>
        </div>
      {{/each}}
    {{/if}}

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">
              &laquo;
            </span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link active" href="#">
            {{query.page}}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">
              &raquo;
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script src="/public/js/listing/listings.js" type="module"></script>
<link rel="stylesheet" href="/public/css/modal-styles.css" />
<link rel="stylesheet" href="/public/css/listing/paginating.css" />
<link rel="stylesheet" href="/public/css/item/suggestions-styles.css" />