{{! TODO Add More Details to the outer Modals }}
{{! TODO Add User Details to the inner Modals }}

{{#if data1.length}}
{{#each data1}}
<div class="lost">
  <div class="sort-by">
    <input id="rd11" type="radio" name="option1" value="createdAt" checked="checked">Date Added</input>
    <input id="rd21" type="radio" name="option1" value="dateLostOrFound">Date Lost/Found</input>
  </div>
      <div class="container">
        <div class="card-content">
          <div class="card">
            <div class="card-image"><img src="{{picture}}" alt=""></div> 
            <div class="card-info">
              <h3>Name : {{name}}</h3>
              {{!-- <p>Type : {{type}}</p> --}}
              <p>Description : {{description}}</p>
              <p>Date : {{dateLostOrFound}}</p>
              <p>Created at : {{createdAt}}</p>
              <p>Location : {{lostOrFoundLocation}}</p>
              {{!-- <p>Comments : {{comments}}</p> --}}
            </div> 
          </div>
        </div>
      </div>
</div>
{{/each}}
{{/if}}
{{#if data2.length}}
{{#each data2}}
    <div class="found">
        <div class="sort-by">
          <input id="rd12" type="radio" name="option2" value="createdAt" checked="checked">Date Added</input>
          <input id="rd22" type="radio" name="option2" value="dateLostOrFound">Date Lost/Found</input>
        </div>
      <div class="container">
        <div class="card-content">
          <div class="card">
            <div class="card-image"><img src="{{picture}}" alt=""></div> 
            <div class="card-info">
              <h3>Name : {{name}}</h3>
              {{!-- <p>Type : {{type}}</p> --}}
              <p>Description : {{description}}</p>
              <p>Date : {{dateLostOrFound}}</p>
              <p>Created at : {{createdAt}}</p>
              <p>Location : {{lostOrFoundLocation}}</p>
              {{!-- <p>Comments : {{comments}}</p> --}}
            </div>
        </div>
      </div>
    </div>
{{/if}}
{{/each}}

<div class = "pagination">
<li class = "page-item previous-page"><a class="page-link" href="#">Prev</a></li>
<li class = "page-item current-page"><a class="page-link" href="#">1</a></li>
<li class = "page-item dots"><a class="page-link" href="#">...</a></li>
<li class = "page-item current-page"><a class="page-link" href="#">5</a></li>
<li class = "page-item current-page"><a class="page-link" href="#">6</a></li>
<li class = "page-item dots"><a class="page-link" href="#">...</a></li>
<li class = "page-item current-page"><a class="page-link" href="#">10</a></li>
<li class = "page-item next-page"><a class="page-link" href="#">Next</a></li>


<Ii class-"page-item current-page"›‹a class-"page-link" href-"#"›1</a></li>
<Ii class-"page-item dots"›<a class-"page-link" href="#"›...</a>‹/li>
<Ii class-"page-item current-page"›‹a class-"page-link" href-"#"›5‹/a></li> <li class="page-item current-page"›‹a class="page-link" href="#"›6</a>‹/li> ‹li class= "page-item current-page"›‹a class="page-link" href=*#"›10</a>‹/li> ‹li class="page-item next-page"›<a class="page-link" href="#"›Next</a>‹/li> </div>
</div>



{{!-- </div>
{{/lost}}
{{#if found}}
<div class="found">
  <div class="container">
    <div class="card-content">
      <div class="card">
        <div class="card-image"><img src="{{picture}}" alt=""></div> 
        <div class="card-info">
          <h3>Name : {{name}}</h3>
          <p>Type : {{type}}</p>
          <p>Description : {{}}</p>
          <p>Date : {{dateLostOrFound}}</p>
          <p>Created at : {{createdAt}}</p>
          <p>Location : {{lostOrFoundLocation}}</p>
          <p>Comments : {{comments}}</p>
        </div> 
      </div>
    </div>
  </div>
</div>
{{}} --}}
{{!-- {{#if pages}}
<ul class="pagination text-center"> </ul>
{{#ifCond current 1}}
<li class="disabled"><a>First</a>
{{else}}
<li><a href="/products/1">First</a>
{{/ifCond}}

var i = (Number({{current}}) > 5 ? Number({{current}}) - 4 : 1)
{{#ifNot i 1}}
<li class="disabled"><a>...</a></li>
{{/ifNot}}


{{#ifCond current pages}}
<li class="disabled"><a>Last</a></li>
{{else}}
 <li><a href="/products/{{pages}}">Last</a></li>
{{/ifCond}}

{{/if}} --}}

{{!-- <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) 
                    { %>
                        <li class="disabled"><a>First</a></li>
                    <% } 
                       else { %>
                        <li><a href="/products/1">First</a></li>
                    <% } %>

                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) 
                    { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/products/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/products/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %> --}}



<button id="modal-btn" class="button">Found Item</button>

<div id="claim-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Item Title Here</h2>
    </div>
    <div class="modal-body">
      <p>Are you sure you have found this item?</p>
      <button id="confirm-yes-btn" class="button">Yes</button>
      <button id="confirm-no-btn" class="button">No</button>

      <p>Once you click yes, a confirmation email will be sent to the OP and the
        contact details of the OP will be shown.</p>
    </div>
    <div class="modal-footer">
      <h3>Found Modal</h3>
    </div>
  </div>
</div>

<div id="claim-modal-inner" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="close-btn2">&times;</span>
      <h2>Item Title Here</h2>
    </div>
    <div class="modal-body">
      <p>This is the modal where details of the user will be displayed</p>
      <button id="close-btn2-flat" class="button">Close</button>

      <p>Like Name, Email and other details associated with the item that is
        lost or found</p>

    </div>
    <div class="modal-footer">
      <h3>Confirmation Sent</h3>
    </div>
  </div>
</div>

<button id="modal-btn2" class="button">Claim Item</button>

<div id="found-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span id="close2" class="close">&times;</span>
      <h2>Item Title Here</h2>
    </div>
    <div class="modal-body">
      <p>Are you sure this item is yours?</p>
      <button id="confirm-yes-btn-2" class="button">Yes</button>
      <button id="confirm-no-btn-2" class="button">No</button>

      <p>Once you click yes, a confirmation email will be sent to the OP and the
        contact details of the OP will be shown.</p>
    </div>
    <div class="modal-footer">
      <h3>Claim Modal</h3>
    </div>
  </div>
</div>

<div id="found-modal-inner" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="close-btn4">&times;</span>
      <h2>Item Title Here</h2>
    </div>
    <div class="modal-body">
      <p>This is the modal where details of the user will be displayed</p>
      <button id="close-btn4-flat" class="button">Close</button>

      <p>Like Name, Email and other details associated with the item that is
        lost or found</p>

    </div>
    <div class="modal-footer">
      <h3>Confirmation Sent</h3>
    </div>
  </div>
</div>

<script src="/public/js/listings.js" type="module"></script>
<link rel="stylesheet" href="/public/css/modal-style.css" />
<link rel="stylesheet" href="/public/css/paginating.css" />
