<div class="mt-4 mb-5 mx-3">
  <div class="px-5 pb-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3>
        My Item Listing
      </h3>
      <a href="/items/add" class="btn btn-primary">Add Listing</a>
    </div>
    

    {{#if items.length}}
      {{#each items}}
        <div class="suggestion">
          <div class="content {{#compare this.type "lost" operator="==="}}lost{{/compare}} {{#compare this.type "found" operator="==="}}found{{/compare}}">
            <div class="name">
              {{this.name}}
            </div>
            <div class="dates">
              <span>
                Date Added:
                {{this.createdAt}}
              </span>
              <span>
                |
              </span>
              <span>
                {{#compare this.type "lost" operator="==="}}
                  Date Lost:
                {{/compare}}
                {{#compare this.type "found" operator="==="}}
                  Date Found:
                {{/compare}}
                {{this.dateLostOrFound}}
              </span>
            </div>
            <div class="description">
              {{this.description}}
            </div>
            <div
              class="itemDisplayPicture-sm my-3"
              style="background-image:url(http://localhost:3000/{{
                this.picture
              }})"
            >
            </div>
          </div>
          <div class="action">
            <div class="author">
              {{this.userInfo.firstName}}
              {{this.userInfo.lastName}}
            </div>
            <div class="location">
              {{#compare this.type "lost" operator="==="}}
                Lost at:
              {{/compare}}
              {{#compare this.type "found" operator="==="}}
                Found at:
              {{/compare}}
              <span class="fw-bold">
                {{this.lostOrFoundLocation}}
              </span>
            </div>
            <button
              type="button"
              data-id="{{this._id}}"
              class="delete-btn btn btn-danger w-50 my-3"
            >
              Delete
            </button>
            <a href="/items/{{this._id}}" class="btn-link">
              See Details
            </a>
            <a href="/items/edit/{{this._id}}" class="my-2 btn-link">
              Edit Details
            </a>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>

{{! modal code }}

<div id="delete-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h1>
        Delete Listing?
      </h1>
      <span
        class="close"
        onclick="document.getElementById('delete-modal').style.display='none'"
      >
        &times;
      </span>
    </div>
    <div class="modal-body">
      <p>
        Are you sure you want to delete this listing?
      </p>
      <button
        type="button"
        id="close-this-modal"
        onclick="document.getElementById('delete-modal').style.display='none'"
        class="button"
      >
        Cancel
      </button>
      <button id="confirm-delete-btn" class="button">
        Confirm
      </button>
    </div>
  </div>
</div>

<div id="success_tic" class="modal-fade modal" role="dialog">
  <div class="modal-content">
    {{! <div class="modal-header">
      <button id="success-close-btn" data-dismiss="modal">&times;</button>
    </div> }}
    <div class="modal-body">
      <div class="page-body">
        <div class="head">
          <h3 style="margin-top:5px;">
            Listing Deleted Successfully!
          </h3>
          <div class="checkmark-circle">
            <div class="background"></div>
            <div class="checkmark draw"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/public/js/listing/myListings.js" type="module"></script>
<link rel="stylesheet" href="/public/css/modal-styles.css" />
<link rel="stylesheet" href="/public/css/listing/paginating.css" />
<link rel="stylesheet" href="/public/css/item/suggestions-styles.css" />